{% extends 'layouts/base.html.twig' %}

{% block title 'Find the best pins on earth!'%}

{% block body %}
    <h1>{{ pluralize(pins|length, 'Pin') }}</h1>

    {% for pin in pins %}
        <article>
            <h2><a href="{{ path('app_pins_show', {id: pin.id}) }}">{{ pin.title }}</a></h2>
{#  Troncature de textes, en ajoutant ... en fin de la troncature et terminant le mot de fin, meme si c'est plus de 10 caracteres#}
            <p>{{ pin.description|u.truncate(10, '...', false) }}</p>
            <p>Submitted {{ pin.createdAt|date }}</p>
        </article>
    {% endfor %}
{% endblock %}
